*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    background-color: bisque;
    padding: 34px;
    margin: auto;
}
.container h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 34px;
}
.container p{
    text-align: center;
    font-size: 16px;
}
.submitMsg{
    color: indigo;
}
input,textarea{
    display: block;
    width: 80%;
    margin: 11px ;
    padding: 7px ;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 7px;
    outline: none;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.btn{
    color: blanchedalmond;
    background-color: black;
    padding: 8px 12px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    width: 90px;
}